# Python cache
__pycache__/
*.pyc

# AI Models & Checkpoints (Cực nặng)
server/modelAI/grammar_corrector1/
server/modelAI/grammar_correctorold/
server/modelAI/shadow_model.pt
server/modelAI/logs/
*.safetensors
*.bin
*.pth

# Mobile & Node cache
node_modules/
.expo/
package-lock.json
mobile/package-lock.json

# Dữ liệu từ điển nặng
server/dictionary/edict2.gz
