# Thêm tên database (ví dụ: vpan_app_db) vào cuối chuỗi
MONGO_URI="mongodb+srv://baoph222it_db_user:UxT8ASdE26CKpYDQ@cluster0.ymsyo8n.mongodb.net/vpan_app_db?retryWrites=true&w=majority" 
EXPO_PUBLIC_IMGBB_API_KEY=0f2251f995a3517fe18b0e1d360854d7# MONGO_URI=mongodb+srv://vuongbui28092004_db_user:Vuong2004@cluster0.jgtgwfs.mongodb.net/vpan?retryWrites=true&w=majority&tls=true&ssl=true
# Giữ nguyên JWT_SECRET và PORT
JWT_SECRET="DAY_LA_KEY_BI_MAT_CUA_BAN" 
PORT=5000

FB_APP_ID=1501472567745202
FB_APP_SECRET=5a746d68a60d4c6fa20a1ca44062eaba
FB_CLIENT_TOKEN=6ba1677836757f02a24c9309440dc184
FB_ADMIN_IDS=100038913965546

SOLANA_RPC=https://api.devnet.solana.com
MERCHANT_WALLET=7YxZkJ7GZexamplexxxxxxxxxxxxxxxxxxxx